.game-cont {
  height: 100vh;
  position: relative;
  background: #222226;
  color: #EEE;
}

.invite-code {
  position: absolute;
  margin: 20px;
  z-index: 100;
  top: 0;
  left: 0;
}

.game-area {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.playing-area {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100vw;
  height: 232px;
  padding: 0;
  position: relative;
}
.card-list {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.my-card {
  width: calc(100vw / 14);
  border-radius: 5px;
  margin-left: calc(-100vw / (14*2));
  transform: rotate(0deg);
  object-fit: cover;
  transition: .2s;
  flex-grow: 1;
  box-shadow: 0 0 2px rgba(0,0,0,0.2)
}

.my-card:hover {
  transform: translateY(-15px) rotate(0deg);
  transition: .05s;
  opacity: 1 !important;
  cursor: pointer;
}

.player-spot {
  background: #111;
  color: #82B1FF;
  padding: 10px;
  padding-left: 20px;
}

.player-spot.free {
  background: #DDD;
  color: #222;
  height: 100%;
}

.op-container {
  position: relative;
  margin: 8px;
  padding-left: calc(100%/12);
}
.op-card {
  width: calc(100%/6);
  margin-left: calc(-100% / 11);
}

.op-card-played {
  width: 100px;
  padding: 10px;
}
