.game-cont {
  height: 100vh;
  position: relative;
  background: #222226;
  color: #EEE;
}

.invite-code {
  position: absolute;
  margin: 20px;
  z-index: 100;
  top: 0;
  left: 0;
}

.game-area {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.playing-area {
  height: 100%;
  width: 100%;
}

.player {
  display: block;
  position: absolute;
  border: 1px solid #333;
  background: #25252A;
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.player.top {
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

.player.left {
  left: 40px;
  top: 40%;
  transform: translateY(-50%);
}

.player.right {
  top: 40%;
  right: 40px;
  transform: translateY(-50%);
}

.player-main {
  position: absolute;
  left: 60px;
  right: 50px;
  bottom: 50px;
  padding: 0;
}

.player-main.player-turn {
  position: absolute;
  padding-left: 60px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  border: 2px solid black;
}

.player-main.player-turn .turn-message {
  visibility: visible;
}

.player-main .turn-message {
  visibility: hidden;
}
.container {
  height: 100%;
  width: 100vw;
  height: 232px;
  padding: 0;
  position: relative;
}
.card-list {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.my-card {
  width: calc(100vw / 14);
  border-radius: 5px;
  margin-left: calc(-100vw / (14*5));
  transform: rotate(0deg);
  object-fit: cover;
  transition: .2s;
  flex-grow: 1;
  box-shadow: 0 0 2px rgba(0,0,0,0.2)
}

.my-card:hover {
  transform: translateY(-15px) rotate(0deg);
  transition: .05s;
  opacity: 1 !important;
  cursor: pointer;
}

.player-spot {
  background: #111;
  color: #82B1FF;
  padding: 10px;
  padding-left: 20px;
}

.player-spot.free {
  background: #DDD;
  color: #222;
  height: 100%;
}

.op-container {
  position: relative;
  margin: 8px;
  padding-left: calc(100%/12);
}
.op-card {
  width: calc(100%/6);
  margin-left: calc(-100% / 11);
}

.op-card-played {
  width: 100px;
  padding: 10px;
}
